{
    "swagger": "2.0",
    "host": "www.nicontoso.eu",
    "info": {
        "version": "1.0.0",
        "title": "Travel Time",
        "contact": {
            "name": "Nicolas Schmitt",
            "email": "nicontoso@outlook.com"
        }
    },
    "paths": {
        "/api/travel": {
            "get": {
                "summary": "Travel Time",
                "operationId": "getTravelTime",
                "description": "Gets available routes and travel time\n",
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "description": "departure",
                        "required": true,
                        "type": "string",
                        "format": "latitude,longitude"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "arrival",
                        "required": true,
                        "type": "string",
                        "format": "latitude,longitude"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "title": "TravelTime",
                            "type": "object",
                            "properties": {
                                "currentTime": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "better": {
                               	    "type": "integer"
                                },
                                "routes": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "title": "route",
                                        "properties": {
                                            "name": {
                                                "type": "string"
                                            },
                                            "time": {
                                                "type": "integer"
                                            },
                                            "dist": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}