
<div layout="column" class="maincontent">
    <div flex="grow" layout="column">
        <h4>Check Office 365 Tenant</h4>
        <form ng-submit="vm.checkTenant()" class="tenant-form" layout="row">
            <input type="text" ng-model="vm.name" placeholder="enter tenant name" flex="100" flex-gt-sm="40" />
        </form>
        <div class="tenant-checked" layout="row">
            <div flex="100" flex-gt-sm="40">
                <div ng-show="vm.loading">
                    <i class="fa fa-cog fa-spin fa-4x"></i>
                </div>
                <div ng-repeat="tenant in vm.checked" ng-class="['tenant', { available: !tenant.taken }]">
                    {{tenant.name}}
                </div>
            </div>
        </div>
    </div>
</div>
